<section fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-card fxFlex="100%" fxFlex.xs="100%">
    <mat-card-title>Generisanje izvestaja</mat-card-title>
    <form
      [formGroup]="reportForm"
      autocomplete="off"
      novalidate
      (ngSubmit)="generateReport(reportForm.value)"
      fxLayout="column wrap"
      fxLayoutAlign="center center"
      fxLayoutGap="10px"
    >
      <mat-card-content>
        <mat-form-field>
          <mat-select
            matInput
            formControlName="location"
            id="location"
            placeholder="Lokacija"
          >
            <mat-option *ngFor="let loc of locations" value="{{ loc._id }}">{{
              loc.name
            }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            [matDatepicker]="pickerFrom"
            placeholder="Od"
            formControlName="dateFrom"
            id="dateFrom"
            readonly
            (click)="pickerFrom.open()"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="pickerFrom"
          ></mat-datepicker-toggle>
          <mat-datepicker #pickerFrom></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            [matDatepicker]="pickerTo"
            placeholder="Do"
            formControlName="dateTo"
            id="dateTo"
            readonly
            (click)="pickerTo.open()"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="pickerTo"
          ></mat-datepicker-toggle>
          <mat-datepicker #pickerTo></mat-datepicker>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions align="center">
        <button
          mat-raised-button
          color="primary"
          [disabled]="!reportForm.valid"
        >
          Kreiraj izvestaj
        </button>
        <button
          type="button"
          mat-raised-button
          color="warn"
          (click)="onCancel()"
        >
          Nazad
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</section>
