<section fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-card fxFlex="500px" fxFlex.xs="100%">
    <mat-card-title>Prijava</mat-card-title>
    <form
      [formGroup]="loginForm"
      autocomplete="off"
      novalidate
      (ngSubmit)="doLogin(loginForm.value)"
      fxLayout="column wrap"
      fxLayoutAlign="center center"
      fxLayoutGap="10px"
    >
      <mat-card-content>
        <mat-form-field>
          <input
            matInput
            type="text"
            placeholder="Email"
            formControlName="email"
            id="email"
          />
          <mat-error *ngIf="hasError('email', 'required')"
            >Email je obavezn</mat-error
          >
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            placeholder="Lozinka"
            type="password"
            formControlName="password"
            id="password"
          />
          <mat-error *ngIf="hasError('password', 'required')"
            >Unesite lozinku</mat-error
          >
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions align="center">
        <button mat-raised-button color="primary" [disabled]="!loginForm.valid">
          Potvrdi
        </button>
        <button
          type="button"
          mat-raised-button
          color="warn"
          (click)="onCancel()"
        >
          Nazad
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</section>
