<mat-nav-list>
  <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
    <mat-icon>home</mat-icon> <span class="nav-caption">Pocetna</span>
  </a>

  <a mat-list-item routerLink="/materials/materials" (click)="onSidenavClose()">
    <mat-icon>assignment_ind</mat-icon>
    <span class="nav-caption">Materijali</span>
  </a>

  <a mat-list-item routerLink="/locations/locations" (click)="onSidenavClose()">
    <mat-icon>account_balance</mat-icon
    ><span class="nav-caption">Lokacije</span>
  </a>

  <a mat-list-item routerLink="/suppliers/suppliers" (click)="onSidenavClose()">
    <mat-icon>account_balance</mat-icon
    ><span class="nav-caption">Dobavljaci</span>
  </a>

  <a
    mat-list-item
    routerLink="/typeofworks/typeofworks"
    (click)="onSidenavClose()"
  >
    <mat-icon>account_balance</mat-icon
    ><span class="nav-caption">Vrste radova</span>
  </a>

  <a
    mat-list-item
    routerLink="/reports/reportgenerator"
    (click)="onSidenavClose()"
  >
    <mat-icon>account_balance</mat-icon
    ><span class="nav-caption">Izvestaj</span>
  </a>
</mat-nav-list>

<!-- <mat-list-item [matMenuTriggerFor]="menu">
  <mat-icon>unfold_more</mat-icon>
  <a matline>Example</a>
</mat-list-item>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="onSidenavClose()">View profile</button>
  <button mat-menu-item (click)="onSidenavClose()">Add contact</button>
</mat-menu> -->
