<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a routerLink="/home" *ngIf="repository.loggedIn()"
      >Evidencija materijala</a
    >
  </div>
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
    <ul fxLayout fxLayoutGap="15px" class="navigation-items">
      <li *ngIf="repository.loggedIn()">
        <button mat-button [matMenuTriggerFor]="menu">
          Evidencija
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/materials/materials">
            Materijali
          </button>
          <button mat-menu-item routerLink="/locations/locations">
            Lokacije
          </button>
          <button mat-menu-item routerLink="/suppliers/suppliers">
            Dobavljaci
          </button>
          <button mat-menu-item routerLink="/typeofworks/typeofworks">
            Vrste radova
          </button>
        </mat-menu>
      </li>

      <li *ngIf="repository.loggedIn()">
        <button mat-button routerLink="/reports/reportgenerator">
          Izvestaj
        </button>
      </li>

      <li *ngIf="!repository.loggedIn()">
        <button mat-button routerLink="/login">
          Prijavi se
        </button>
      </li>
      <li *ngIf="repository.loggedIn()">
        <button mat-button (click)="repository.logoutUser()">
          Odjavi se
        </button>
      </li>
    </ul>
  </div>
</mat-toolbar>
