<section fxLayout="column" fxLayoutAlign="center center">
  <h1 mat-dialog-title>Greska</h1>
  <mat-dialog-content>
    <p>Akcija nije izvrsena.</p>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button color="error" [mat-dialog-close]="true">
      OK
    </button>
  </mat-dialog-actions>
</section>
