<section fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-card fxFlex="500px" fxFlex.xs="100%">
    <mat-card-title>Azuriranje lokacije</mat-card-title>
    <form
      [formGroup]="locationsForm"
      autocomplete="off"
      novalidate
      (ngSubmit)="updateLocations(locationsForm.value)"
      fxLayout="column wrap"
      fxLayoutAlign="center center"
      fxLayoutGap="10px"
    >
      <mat-card-content>
      
        <mat-form-field>
          <input
            matInput
            type="text"
            placeholder="Ime lokacije"
            formControlName="location"
            id="location"
          />
          <mat-error *ngIf="hasError('location', 'required')"
            >Ime je obavezno</mat-error
          >
        </mat-form-field>

      </mat-card-content>
      <mat-card-actions align="center">
        <button
          mat-raised-button
          color="primary"
          [disabled]="!locationsForm.valid"
        >
          Azuriraj
        </button>
        <button
          type="button"
          mat-raised-button
          color="warn"
          (click)="onCancel()"
        >
          Nazad
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</section>
