table {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  min-width: 650px;
}

th.mat-header-cell {
  text-align: left;
  max-width: 300px;
}

td.mat-cell {
  font-size: 10px;
}

/* .mat-row:nth-child(even) {
  background-color: rgb(109, 132, 214);
}

.mat-row:nth-child(odd) {
  background-color: rgb(206, 196, 184);
} */

mat-form-field + mat-form-field {
  margin-left: 30px;
}

mat-form-field {
  width: 20%;
}
