<div>
  <a [routerLink]="['/materials/create']" mat-button color="primary"
    >Dodaj materijal</a
  >
</div>

<section fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-card fxFlex="100%" fxFlex.xs="100%">
    <form
      [formGroup]="searchForm"
      autocomplete="off"
      novalidate
      (ngSubmit)="search(searchForm.value)"
      fxLayout="column wrap"
      fxLayoutAlign="left left"
    >
      <mat-card-content>
        <mat-form-field>
          <mat-select
            matInput
            formControlName="location"
            id="location"
            placeholder="Lokacija"
          >
            <mat-option *ngFor="let loc of locations" value="{{ loc._id }}">{{
              loc.name
            }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            [matDatepicker]="pickerFrom"
            placeholder="Od"
            formControlName="dateFrom"
            id="dateFrom"
            readonly
            (click)="pickerFrom.open()"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="pickerFrom"
          ></mat-datepicker-toggle>
          <mat-datepicker #pickerFrom></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            [matDatepicker]="pickerTo"
            placeholder="Do"
            formControlName="dateTo"
            id="dateTo"
            readonly
            (click)="pickerTo.open()"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="pickerTo"
          ></mat-datepicker-toggle>
          <mat-datepicker #pickerTo></mat-datepicker>
        </mat-form-field>

        <div style="float: right; padding-top: 5px;">
          <button
            mat-raised-button
            color="primary"
            [disabled]="!searchForm.valid"
          >
            Pretrazi
          </button>
        </div>
      </mat-card-content>
    </form>
  </mat-card>
</section>

<table mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="Datum">
    <th mat-header-cell *matHeaderCellDef>Datum</th>
    <td mat-cell *matCellDef="let element">{{ element.date | date }}</td>
  </ng-container>

  <ng-container matColumnDef="Dobavljac">
    <th mat-header-cell *matHeaderCellDef>Dobavljac</th>
    <td mat-cell *matCellDef="let element">
      {{ element.supplier.supplierName }}
    </td>
  </ng-container>

  <ng-container matColumnDef="Vrsta materijala">
    <th mat-header-cell *matHeaderCellDef>Vrsta materijala</th>
    <td mat-cell *matCellDef="let element">
      {{ element.typeofmaterial }}
    </td>
  </ng-container>

  <ng-container matColumnDef="Kolicina">
    <th mat-header-cell *matHeaderCellDef>Kolicina</th>
    <td mat-cell *matCellDef="let element">{{ element.quantity }}</td>
  </ng-container>

  <ng-container matColumnDef="Jedinica mere">
    <th mat-header-cell *matHeaderCellDef>Jedinica mere</th>
    <td mat-cell *matCellDef="let element">
      {{ element.unitofmeasure }}
    </td>
  </ng-container>

  <ng-container matColumnDef="Vrste radova">
    <th mat-header-cell *matHeaderCellDef>Vrste radova</th>
    <td mat-cell *matCellDef="let element">
      {{ element.typeofwork.typeName }}
    </td>
  </ng-container>

  <ng-container matColumnDef="Iznos PDV-a">
    <th mat-header-cell *matHeaderCellDef>Iznos PDV-a</th>
    <td mat-cell *matCellDef="let element">{{ element.amountPDV }}</td>
  </ng-container>

  <ng-container matColumnDef="Vrednost sa PDV-om">
    <th mat-header-cell *matHeaderCellDef>Vrednost PDV-om</th>
    <td mat-cell *matCellDef="let element">{{ element.pricewithPDV }}</td>
  </ng-container>

  <ng-container matColumnDef="Izmeni">
    <th mat-header-cell *matHeaderCellDef>Izmeni</th>
    <td mat-cell *matCellDef="let element">
      <button
        mat-icon-button
        color="primary"
        (click)="redirectToUpdate(element._id)"
      >
        <mat-icon class="mat-18">system_update</mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="Obrisi">
    <th mat-header-cell *matHeaderCellDef>Obrisi</th>
    <td mat-cell *matCellDef="let element">
      <button
        mat-icon-button
        color="warn"
        (click)="redirectToDelete(element._id)"
      >
        <mat-icon class="mat-18">delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<mat-paginator [pageSize]="8" [pageSizeOptions]="[8, 12, 16, 20, 24]">
</mat-paginator>
