<section fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-card fxFlex="500px" fxFlex.xs="100%">
    <mat-card-title>Evidetiranje primljenog materijala</mat-card-title>
    <form
      [formGroup]="materialsForm"
      autocomplete="off"
      novalidate
      (ngSubmit)="updateMaterials(materialsForm.value)"
      fxLayout="column wrap"
      fxLayoutAlign="center center"
      fxLayoutGap="10px"
    >
      <mat-card-content>
        <mat-form-field>
          <mat-select
            matInput
            formControlName="location"
            id="location"
            placeholder="Lokacija"
          >
            <mat-option *ngFor="let loc of locations" value="{{ loc._id }}">{{
              loc.name
            }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            [matDatepicker]="picker"
            placeholder="Datum"
            formControlName="date"
            id="date"
            readonly
            (click)="picker.open()"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            type="text"
            placeholder="Tip materijala"
            formControlName="typeofmaterial"
            id="typeofmaterial"
          />
          <mat-error *ngIf="hasError('typeofmaterial', 'required')"
            >typeofmaterial is required</mat-error
          >
          <mat-error *ngIf="hasError('typeofmaterial', 'maxlength')"
            >You have more than 60 characters</mat-error
          >
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            placeholder="Kolicina"
            type="number"
            formControlName="quantity"
            id="quantity"
          />
          <span matPrefix>&nbsp;</span>
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            type="text"
            placeholder="Jedinica mere"
            formControlName="unitofmeasure"
          />
          <mat-error *ngIf="hasError('unitofmeasure', 'required')"
            >Address is required</mat-error
          >
          <mat-error *ngIf="hasError('unitofmeasure', 'maxlength')"
            >You have more than 100 characters</mat-error
          >
        </mat-form-field>

        <mat-form-field>
          <mat-select
            matInput
            formControlName="typeofwork"
            id="typeofwork"
            placeholder="Vrste radova"
          >
            <mat-option
              *ngFor="let typ of typesofworks"
              value="{{ typ._id }}"
              >{{ typ.typeName }}</mat-option
            >
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            placeholder="Iznos PDV-a"
            type="number"
            formControlName="amountPDV"
            id="amountPDV"
          />
          <span matPrefix>&nbsp;</span>
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            placeholder="Vrednost sa PDV-om"
            type="number"
            formControlName="pricewithPDV"
            id="pricewithPDV"
          />
          <span matPrefix>&nbsp;</span>
        </mat-form-field>

        <mat-form-field>
          <mat-select
            matInput
            formControlName="supplier"
            id="supplier"
            placeholder="Dobavljac"
          >
            <mat-option *ngFor="let supp of suppliers" value="{{ supp._id }}">{{
              supp.supplierName
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions align="center">
        <button
          mat-raised-button
          color="primary"
          [disabled]="!materialsForm.valid"
        >
          Azuriraj
        </button>
        <button
          type="button"
          mat-raised-button
          color="warn"
          (click)="onCancel()"
        >
          Nazad
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</section>
