<section fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-card fxFlex="500px" fxFlex.xs="100%">
    <mat-card-title>Dodavanje nove vrste radova</mat-card-title>
    <form
      [formGroup]="typesofworksForm"
      autocomplete="off"
      novalidate
      (ngSubmit)="createTypeofwork(typesofworksForm.value)"
      fxLayout="column wrap"
      fxLayoutAlign="center center"
      fxLayoutGap="10px"
    >
      <mat-card-content>
        <mat-form-field>
          <input
            matInput
            type="text"
            placeholder="Naziv radova"
            formControlName="typeName"
            id="typeName"
          />
          <mat-error *ngIf="hasError('typeName', 'required')"
            >Naziv radova je obavezan</mat-error
          >
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions align="center">
        <button
          mat-raised-button
          color="primary"
          [disabled]="!typesofworksForm.valid"
        >
          Kreiraj
        </button>
        <button
          type="button"
          mat-raised-button
          color="warn"
          (click)="onCancel()"
        >
          Nazad
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</section>
