<section fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-card fxFlex="500px" fxFlex.xs="100%">
    <mat-card-title>Azuriranje lokacije</mat-card-title>
    <form
      [formGroup]="suppliersForm"
      autocomplete="off"
      novalidate
      (ngSubmit)="updateSuppliers(suppliersForm.value)"
      fxLayout="column wrap"
      fxLayoutAlign="center center"
      fxLayoutGap="10px"
    >
      <mat-card-content>
      
        <mat-form-field>
          <input
            matInput
            type="text"
            placeholder="naziv dobavljaca"
            formControlName="supplierName"
            id="supplierName"
          />
          <mat-error *ngIf="hasError('supplierName', 'required')"
            >Naziv dobavljaca je obavezan</mat-error
          >
        </mat-form-field>

      </mat-card-content>
      <mat-card-actions align="center">
        <button
          mat-raised-button
          color="primary"
          [disabled]="!suppliersForm.valid"
        >
          Azuriraj
        </button>
        <button
          type="button"
          mat-raised-button
          color="warn"
          (click)="onCancel()"
        >
          Nazad
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</section>
