<section fxLayout="column" fxLayoutAlign="center center">
  <h1 mat-dialog-title>Confirm delete action</h1>
  <mat-dialog-content>
    <p>This action will delete the selected item. Are you sure?</p>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button color="warn" (click)="confirmDeleteDialog()">
      OK
    </button>
    <button mat-raised-button color="primary" (click)="closeDialog()">
      Cancel
    </button>
  </mat-dialog-actions>
</section>
