<div>
  <a [routerLink]="['/locations/create']" mat-button color="primary"
    >Dodaj lokaciju</a
  >
</div>

<table mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="Lokacija">
    <th mat-header-cell *matHeaderCellDef>Lokacija</th>
    <td mat-cell *matCellDef="let element">
      {{ element.name }}
    </td>
  </ng-container>

  <ng-container matColumnDef="Izmeni">
    <th mat-header-cell *matHeaderCellDef>Izmeni</th>
    <td mat-cell *matCellDef="let element">
      <button
        mat-icon-button
        color="primary"
        (click)="redirectToUpdate(element._id)"
      >
        <mat-icon class="mat-18">system_update</mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="Obrisi">
    <th mat-header-cell *matHeaderCellDef>Obrisi</th>
    <td mat-cell *matCellDef="let element">
      <button
        mat-icon-button
        color="warn"
        (click)="redirectToDelete(element._id)"
      >
        <mat-icon class="mat-18">delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<mat-paginator [pageSize]="8" [pageSizeOptions]="[8, 12, 16, 20, 24]">
</mat-paginator>
